@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: 99px auto 50px;
}
.container {
    border: 1px solid #C6CBCD;
    border-top: none;
}
.tab {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin: auto;
    border-bottom:1px solid #C6CBCD; ;
}
.tab__item {
    display: inline-block;
    text-align: center;
    width: 184px;
}
.tab__item a{ text-decoration: none;
    color: #333333;
    cursor: poiner;
}
.tab__item--spetial {
    display: inline-block;
    width: 201px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    padding: 10px 0 10px 0;
    border-bottom: none;
    margin-bottom: -1px;
    background-color: #fff;
   /* position: relative;
    background: #fff;
    top: 1px;
    z-index: 1 */
}
.card {
    max-width: 570px;
}
.card__title {
    padding: 37px 0 38px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    align-items: center;
    color: #000000;
    width: 570px;
    margin: 0  0 27px 100px;

}
.card__content {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #000000;
    width: 570px;
    margin: 0  0 27px 100px;
}
.card__button {
    margin: 0  0 54px 100px;
}
.card__button button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #EC7979;
    width: 270px;
    border: none;
    padding: 20px;
}
.img {float: right;
}
