@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1334px;
    margin: 0 auto;
    background: #FBF7F6;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.form-tabs {
    display: flex;
    justify-content: space-between;
}
.form-tabs__item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #371030;
    background: #F9F0EE;
    text-decoration: none;
    padding: 16px 0 15px;
   width: 33.3333%;
}
.form-tabs__item:first-child {
    border-right: 1px solid #C4C4C4;
}
.form-tabs__item.form-tabs__item--red {
    background: #FFB0BA;
    color: #9A3C48;
    border: none;
}

.form-content__text {
    display: flex;
    flex-direction: column;
}

.form-content {
    padding: 0 50px;
    margin: 34.04px 0 48px;
}
.form-content__text label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #371030;
    margin-bottom: 25px;
}
.form-content__text textarea {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
    opacity: 0.5;
    background: #F9F0EE;
    border-radius: 5px;
    border: none;
    resize: none;
    height: 188px;
    outline: none;
    padding: 18px 0 140px 25px;
}
.form-content__inputs {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.form-content__inputs input{
    background: #F9F0EE;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
    opacity: 0.5;
    width: 31.2%;
    border: none;
    padding: 6px 0 5px 25px;
    outline: none;
}
.form-content__btn {
    display: flex;
    align-items: center;
    margin-bottom: 49px;
}
.form-content__btn button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #9A3C48;
    background: #FFB0BA;
    box-shadow: 3px 3px 0px 3px #DE8E98;
    border-radius: 100px;
    text-decoration: none;
    padding: 19px 0 20px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    width: 250px;
}
.form-content__btn button:hover {
    color: white;
    background: #9A3C48;
}
.form-content__check {
    display: flex;
    margin-left: 30px;
}
.form-content__check label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
    opacity: 0.5;
}
.form-content__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form-content__checkbox+label{
    display: inline-flex;
    align-items: center;
}
.form-content__checkbox+label:before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 23px;
    background-color: #F9F0EE;
    border-radius: 5px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.form-content__checkbox:checked+label::before {
    background-image: url("../assets/check.svg");
}
.form-content__checkbox:not(:disabled):not(:checked)+label:hover::before {
    background-color: #F9F0EE;
    border-radius: 5px;
}

.form-content__checkbox:not(:disabled):active+label::before {
    background-color: #F9F0EE;
    border-radius: 5px;

.form-content__checkbox:focus+label::before {
    background-color: #F9F0EE;
    border-radius: 5px;
}

.form-content__checkbox:focus:not(:checked)+label::before {
    background-color: #F9F0EE;
    border-radius: 5px;
}

.form-content__checkbox:disabled+label::before {
    background-color: #F9F0EE;
    border-radius: 5px;
}
