* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
/*.img {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    background: url("../assets/img.jpg") no-repeat center;*/
/*    margin: auto;*/
/*}*/
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.list-item {
    width: 200px;
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 10px;
    text-align: center;
}
li:nth-child(1):before{
    content: '1';
    padding-right: 5px;
}
li:nth-child(2):before{
    content: '2';
    padding-right: 5px;
}
li:nth-child(3):before{
    content: '3';
    padding-right: 5px;
}
li:nth-child(4):before{
    content: '4';
    padding-right: 5px;
}
li:nth-child(5):before{
    content: '5';
    padding-right: 5px;
}
li:nth-child(6):before{
    content: '6';
    padding-right: 5px;
}
li:nth-child(7):before{
    content: '7';
    padding-right: 5px;
}
li:nth-child(8):before{
    content: '8';
    padding-right: 5px;
}
li:nth-child(9):before{
    content: '9';
    padding-right: 5px;
}
li:nth-child(10):before{
    content: '10';
    padding-right: 5px;
}