$red:#F38281;
$green:#95E1D3;
$gradient:linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
$white:#FFFFFF;
$white-bacg:#F8F8F8;
$grey:#C6CBCD;
$black:#2D3033;
$yellow:#F9EFCF;
