*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 1024px) {
    & {padding: 0 20px;}
  }
  @media (max-width: 768px) {
    & {padding: 0 20px 0 20px;}
  }
}
a, a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
ul li {
  list-style: none;
}