@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.awesome {
    padding: 50px 0 58px;
}
.title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    text-align: center;
    padding: 54px 0;
    text-transform: uppercase;
    position: relative;
}
.title:after {
    content: "";
    width: 170px;
    height: 1px;
    bottom: 0;
    background: #EC7979;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
/*.line {*/
/*    width: 170px;*/
/*    background-color: #EC7979;*/
/*    height: 1px;*/
/*    margin: 0 auto 40px auto;*/
/*}*/
.subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;
    margin-top: 40px;
}
.cards {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}
.cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.6239%;
}
.cards__item__pic {
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin-bottom: 39px;
    width: 92px;
    height: 92px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cards__item__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    padding: 33px 0 34px;
    margin-bottom: 8px;
}
.cards__item__content {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 0 8px;
    text-align: center;
}

.tabs {
    padding-top: 99px;
}
.header-list {
    display: flex;
}

.header-list__item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    list-style: none;
    text-transform: uppercase;
    padding: 10px 83px;
    text-align: center;
}
.header-list__item--active {
    border: 1px solid #C6CBCD;
    border-radius: 6px 6px 0 0;
    background-color: white;
    margin-bottom: -1px;
    border-bottom: none;
}
.container-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #C6CBCD;
    padding-left: 100px;
}

.block-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 30px;
}

.block-content__title {
    padding: 42px 0 41px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 27px;
}
.block-content__descptn {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 27px;
}
.block-content__btn {
    background: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    width: 270px;
    justify-content: center;
    text-decoration: none;
    padding: 16px 0 17px 0;
}
.block-img {
    margin: 0 0 -4.5px 0;
}


.options {
    padding: 50px 0;
    background: #F5F5F5;
}
.prices {
    padding-top: 79px;
    display: flex;
    justify-content: space-between;
}
.prices-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.624%;
}
.prices-item__point {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #86878B;
    text-align: center;
    padding: 15px 0 14px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    width: 100%;
}
.prices-item__point.prices-item__point--top{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
}
.prices-item__point.prices-item__point--middle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    border-top: none;
}
.prices-item__point.prices-item__point--bottom {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    border: 2px solid #F5F5F5;
    border-top: none;
    text-transform: initial;
}
.prices-item.prices-item--active {
    margin-top: -20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    align-self: flex-start;
}

.customers {
    padding: 50px 0 64px;
}

.comment {
    padding-top: 83px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.comment-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 31.623%;
}
.content__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;
    background: #E2E2E2;
    border-radius: 10px;
    padding: 38px 20px 37px;
    margin-bottom: 66px;
    position: relative;
}
.content__person {
    display: flex;
}
.content__person__foto {
    margin-right: 30px;
    align-self: flex-start;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.content__person__foto--first {
    display: block;
    width: 70px;
    height: 70px;
}

.content__person__info {
    display: flex;
    flex-direction: column;
}
.person__info__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    padding: 11px 0 10px;
}
.person__info__prof {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 15px;
}

.content__text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 30px solid #E2E2E2;
    bottom: -25px;
    left: 62px;
}

.design {
    background: url("../assets/disign.jpg") no-repeat;
    background-size: cover;
    padding: 50px 0;
    position: relative;
}
.design-backg {
    position: relative;
    z-index: 2;
}
.design:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.title.title--white {
    color: #FFFFFF;
}
.title.title--white:after {
    background: #FFFFFF;
}
.subtitle.subtitle--white {
    color: #FFFFFF;
}
.design__btn {
    text-decoration: none;
    border: 2px solid #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 370px;
    margin: 73px auto 0;
    padding: 15px 0 14px;
    transition: 0.3s;
}
.design__btn:hover {
   border: 1px solid #DE8E98;
}

.top {
    background: #000000;;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right-navigation {
    display: flex;
    justify-content: right;
    list-style-type: none;
}
.navigation__btn {
    text-align: center;
    padding: 28px 31px 28px 30.4px;
}
.navigation__btn a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
}
.navigation__btn a:hover {
    color: #EC7979;
}

.header-left {
    position: relative;
    right: 51.81px;
    top: 0;
}

.banner {
    background: url("../assets/banner.jpg") no-repeat;
    background-size: cover;
    position: relative;
    padding: 231px 0 185px;
}
.banner-backg {
    position: relative;
    z-index: 2;
}
.banner:after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
}
.banner-content__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    max-width: 670px;
    margin: 50.88px 0 42px;
    padding-bottom: 55.12px;
    position: relative;
}
.banner-content__title:after{
    content: '';
    position: absolute;
    left:0;
    width: 170px;
    height: 1px;
    bottom: 0;
    background: #FFFFFF;
}
.banner-content__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 270px;
}
.banner-content__btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    display: block;
    border: 2px solid #FFFFFF;
    margin-top: 42px;
    max-width: 270px;
    padding: 15px 0 14px;
    transition: 0.3s;
}
.banner-content__btn:hover{
    transform: scale(0.8);
}
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.banner-form {
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
}

.banner-form__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding: 28px 50px 29px 53px;
}
.banner-form__title--color {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #EC7979;
}
.form-block-container {
    padding: 45px 50px 75px;
}
.banner-form-block__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;

}
.banner-form-block__item:not(:last-child) {
    margin-bottom: 30px;
}
.banner-form-block__item label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.banner-form-block__item input{
    outline: none;
    height: 16px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.banner-form__btn {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #EC7979;
    /*border-radius: 0px 0px 10px 10px;*/
    width: 470px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
.banner-form__btn:hover {
    color: #EC7979;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
}



.footer {
    background: #000000;
    padding: 39.43px 0 27px;
    display: flex;
    flex-direction: row;
}
.footer__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__icons__item:not(:last-child) {
    margin-right: 32.8px;
}

.footer__author {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 27.8px;
}
.footer__icons__item {
    text-decoration: none;
    font-size: 3.325em;
}
.footer__icons__item._icon-facebook {
    transition: 0.3s;
    color: #ccc;
}
.footer__icons__item._icon-facebook:hover {
    color: #EC7979;
    transform: scale(1.1);
}
.footer__icons__item._icon-twitter {
    transition: 0.3s;
}
.footer__icons__item._icon-twitter:hover {
 transform: rotate(10deg);
}
.footer__icons__item._icon-linkedin {
    transition: 0.3s;
}
.footer__icons__item._icon-linkedin:hover {
    transform: translate(5%, -5%);
}
.footer__icons__item._icon-pintrest {
    transition: 0.3s;
}
.footer__icons__item._icon-pintrest:hover {
    transform: rotate(360deg);
}
.footer__icons__item._icon-insta {
    transition: 0.3s;
}
.footer__icons__item._icon-insta:hover {
    transform: scale(1.3);
}
.footer__icons__item._icon-cat {
    transition: 0.3s;
}
.footer__icons__item._icon-cat:hover {
    transform: scale(0.8);
}
.footer__icons__item._icon-wifi {
    transition: 0.3s;
}
.footer__icons__item._icon-wifi:hover {
    transform: translate(5%, -20%);
}


.social {
    background: #F8EFEF;
}
.social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-container__content {
    max-width: 470px;
}
.social-container__content__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
    padding: 14px 0 13px;
}
.social-container__content__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    padding: 18px 0;
}
.social-container__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-container__icons__item:not(:last-child) {
    margin-right: 30px;
}
.social-container__icons__item svg{
    width: 70px;
    height: 70px;
    transition: 0.3s;
}
.social-container__icons__item svg:hover {
    transform: scale(0.8);
}


.contact {
    padding: 50px 0;
}

.contact-form-block {
    display: flex;
    justify-content: space-between;
    padding: 89px 0 50px;
}
.contact-form__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
}

.contact-form-left .contact-form__item:not(:last-child){
    margin-bottom: 50px;
}

.contact-form-left ,
.contact-form-right {
    width: 49%;

}
.contact-form-right .contact-form__item {
    height: 100%;
}
.contact-form__item label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.contact-form__item input {
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}
.contact-form__item textarea {
    outline: none;
    height: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
}

.contact-btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: block;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #EC7979;
    width: 370px;
    text-decoration: none;
    padding: 16px 0 17px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.contact-btn:hover{
    background: #FFFFFF;
    color: #EC7979;
    border: 1px solid #BDBDBD;
}