.features {
  padding: 116px 0;
  @media (max-width: 1024px) {
    & { padding: 78px 0 80.11px;}
  }
  @media (max-width: 768px) {
    & { padding: 41px 0 34.85px;}
  }
}

  .features-block {
  @include flex;
    @media (max-width: 768px) {
      & {
        @include column-mob;
      }
    }
  }

  .block-card {
    width: 31.62393%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px) {
      & {
        width: 100%;
        margin-bottom: 41.4px
      }
    }

    &:nth-child(-n+3) {
      margin-bottom: 71px;
      @media (max-width: 1024px) {
        & {
          margin-bottom: 41.4px;
        }
      }
    }
      &__icon {
        @include column;
        @media (max-width: 1024px) {
          & svg{
          width: 85px;
          height: 85px;}
        }
        @media (max-width: 768px) {
          & svg{
            width: 75.75px;
            height: 75.75px;
          }
        }
      }

      &__title {
        @include title-small;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        margin: 29px 0 20.43px;
        padding: 22px 0;
        @media (max-width: 1024px) {
          & { @include title-tablet;
            margin: 21.49px 0 4px;
            padding: 19.75px 0;
          }
        }
        @media (max-width: 768px) {
          & {
            @include title-tablet;
            margin: 21px 0 0;
            padding: 12px 0 13px;
          }
        }
      }

      &__text p {
        @include text;
        color: $grey;
        text-align: center;
        padding-bottom: 17.57px;
        @media (max-width: 1024px) {
          & {@include text-tablet;
            padding-bottom: 0;
          }
        }
        @media (max-width: 768px) {
          & {
            @include text-mobile;
            margin: 0;
            padding: 0;
          }
        }
      }
}
