@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1648px;
    padding: 0 15px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 692px;
}
.form__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #424242;
    margin: 40px 0 32px;
}
.form__title.form__title-first {
    margin-top: 64px;
}
.form__item {
    border: 1px solid #BDBDBD;
    border-radius: 83px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    padding: 17px 0 16px 24px;
    outline: none;
}
.form__item {
    margin-bottom: 24px;
    resize: none;
}
.form__item.form__item-city ,
.form__item.form__item-method
{
    width: 75.144%;
}
.form-block {
    display: flex;
    justify-content: space-between;
}
.form__item.form__item-street {
    width: 36.7%;
}
.form__item.form__item-home {
    width: 18.65%;
}

.form__item.form__item-user {
    width: 31.79%;
}
.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.form-label label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    color: #424242;
    padding-top: 8px;
}
.form-label__item {
    border: 1px solid #BDBDBD;
    border-radius: 83px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    padding: 17px 0 16px 24px;
    outline: none;
}
.form-label__item.form__item-user {
    width: 31.79%;
}
.form-label__item.form__item-mail {
    width: 65.8959%
}
.form-checkbox, .form-radio {
    display: flex;
    align-items: center;
}
.form-checkbox label,
.form-radio label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
}

.form__item-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form__item-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.form__item-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(207, 165, 165, 1);
    border-radius: 6.64286px;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.form__item-checkbox:checked+label::before {
    border: 1px solid rgba(207, 165, 165, 1);
    border-radius: 6.64286px;
    background-image: url('../assets/Vector.svg');
}
.form-radio:not(:last-child) {
    padding-bottom: 8px;
}
.form-radio__item {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form-radio__item+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.form-radio__item+label::before {
    content: '';
    display: inline-block;
    width: 31px;
    height: 31px;
    border: 1px solid rgba(207, 165, 165, 1);
    border-radius: 50%;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.form-radio__item:checked+label::before {
    border: 1px solid rgba(207, 165, 165, 1);
    border-radius: 50%;
    background-image: url('../assets/Ellipse.svg');
    background-size: auto;
}

