@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1590px;
    padding: 0 15px;
    margin: 0 auto;
}
.basket {
    padding-left: 150px;
}
.basket-data {
    max-width: 692px;
    display: flex;
    flex-direction: column;
}
.basket-data__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #424242;
    margin:64px 0 32px;
}

.form {
    display: flex;
    flex-direction: column;
}
.form__item {
    margin-bottom: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    padding: 17px 0 16px 24px;
    border: 1px solid #BDBDBD;
    border-radius: 83px;
}
.form__item.form__item-city {
    width: 520px;
}
.form__item.form__item-method {
    width: 520px;
}
.form__item__line , .form__item__user {
    display: flex;
    justify-content: space-between;
}
.form__item.form__item__line--street {
    width: 254px;
}
.form__item.form__item__line--home {
    width: 130px;
}
.form__item.form__item__messg {
    resize: none;
}

.form__item.form__item__user--name {
    width: 220px;
}
.form__item__tel {
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
}

.form__item__mail {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.form__item__tel__inp , .form__item__mail__inp {
    border: 1px solid #BDBDBD;
    border-radius: 83px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    padding: 17px 0 16px 24px;
}
.form__item__tel__inp {
    width: 220px;
}
.form__item__mail__inp {
    width: 456px;
}
.form__item__tel label, .form__item__mail label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    margin-top: 8px;
    color: #424242;
}
.form__item__checkbox {
    display: flex;
}
.form__item__checkbox label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    align-self: center;
    padding-left: 16px;
}
.form__item__checkbox input {
    align-self: center;
}
.form-radio {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}
.form-radio label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    margin-left: 16px;
}
